<% @bookings.each do |booking| %>
  <%= booking.start_date %>
  <%= booking.end_date %>

  <h1>Creator info</h1>
  <%= booking.creator.first_name %>
  <%= booking.creator.last_name %>

  <h1>Client info</h1>
  <%= booking.client.first_name %>
  <%= booking.client.first_name %>

<% end %>
