
<table class="table">
  <% @bookings.each do |booking| %>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">booking info</th>


      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">le nom de créateur</th>
        <td>
         <%= booking.creator.first_name %>
         <%= booking.creator.last_name %>
        </td>

      </tr>
      <tr>
        <th scope="row">le nom de client </th>
        <td>
         <%= booking.client.first_name %>
         <%= booking.client.last_name %>
        </td>

      </tr>
      <tr>
        <th scope="row"> la date </th>
        <td colspan="2">
        <%= booking.start_date %>
         <%= booking.end_date %></td>
      </tr>
    </tbody>
  <% end %>
</table>
