<div class="booking-container container mt-5">
  <div class="booking-cards ">
    <% @client_bookings.each do |booking| %>
      <div class="booking-card">
       <span class="badge rounded-pill booking-status"> <%= booking.status %> </span>
       <div class="booking-photo" >
        <%= cl_image_tag booking.creator.photo.key  %>
       </div>
        <p class="booking-name"><%= booking.creator.short_name %> </p>
        <div class="d-flex justify-content-between">
          <p> <i class="fas fa-search-location"></i><br><%=booking.creator.address %></p>
          <p><i class="fas fa-calendar-alt"></i><br><%= booking.start_date.strftime("%b %e - %l:%M %p") %> - <%= booking.end_date.strftime("%b %e - %l:%M %p") %></p>
        </div>
      </div>
    <% end %>
     <% @creator_bookings.each do |booking| %>
      <div class="booking-card">
      <% if booking.status == "En attente" %>
      <%
        booking_refused = Booking.find(booking.id)
        booking_refused.status = "Refusé"
        booking_refused.save
        booking_accepted =  Booking.find(booking.id)
        booking_accepted.status = "Accepté"
        booking_accepted.save
      %>

        <%= simple_form_for [current_user,booking_accepted] do |f| %>
          <%= f.input :status, as: :hidden %>
          <%= f.submit  "Accepter", class: "booking-status-right"%>
        <% end %>

         <%= simple_form_for [current_user,booking_refused] do |f| %>
          <%= f.input :status, as: :hidden %>
          <%= f.submit  "Refuser", class: "booking-status-left "%>
        <% end %>
      <% else  %>
        <span class="badge rounded-pill booking-status"> <%= booking.status %> </span>
      <% end %>
       <div class="booking-photo" >
        <%= cl_image_tag booking.creator.photo.key  %>
       </div>
        <p class="booking-name"><%= booking.creator.short_name %> </p>
        <div class="d-flex justify-content-between">
          <p> <i class="fas fa-search-location"></i><br><%=booking.creator.address %></p>
          <p><i class="fas fa-calendar-alt"></i><br><%= booking.start_date.strftime("%b %e - %l:%M %p") %> - <%= booking.end_date.strftime("%b %e - %l:%M %p") %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
