<div class= "container index-section">
  <h1 class="index-title">Choisissez le meilleur créateur pour vous</h1>


  <div class ="row home-container mt-12">
    <div class="col-3 pr-4">
      <%= simple_form_for :index, method: :get, html: { class: "search-form" } do |f| %>
        <h2>Filtrer par:</h2>
        <div class="search-bar">
          <%= f.input :ville, placeholder: "Ville ?", input_html: {class: "search-input"} %>
          <i class="fas fa-search"></i>
        </div>
        <div class="d-flex">
          <%=f.input :role, as: :radio_buttons, collection: ["Photographe", "Vidéaste"], wrapper_html: { class: "inline-inputs" }, label_html: { class: "inline-labels"} %>
        </div>
        <div>
        <%=f.input :category, as: :radio_buttons, collection: ["Portrait", "Corporate","Drone"], wrapper_html: { class: "inline-inputs" }, label_html: { class: "inline-labels"} %>
        </div>
        <div class="d-flex">
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">Prix (MAD/Jour)</legend>
            <%=f.input :price_per_day, as: :radio_buttons, collection: ["2000", "3000","5000"], wrapper_html: { class: "inline-inputs" }, label_html: { class: "inline-labels"} %>
          </fieldset>
        </div>

        <%= f.button :submit, "Recherchez", class: "custom-btn" %>
      <% end %>
    </div>

    <div class="col-9">
      <div id="map"
        style="width: 92%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  </div>


  <div class="container">
    <div class="row">
      <% @creators.each do |creator| %>
        <%#= render "components/creator_card",creator: creator %>
          <div class="col-4 p-0">
            <%= link_to user_path(creator) do %>
              <div class="creator-card">
                <div class="img-container">
                  <% if creator.photo.attached? %>
                    <%= cl_image_tag creator.photo.key,height: 300,width: 300, crop: :fill %>
                  <% end %>
                </div>
                <div class="card-infos">
                  <h2><%= creator.short_name %> </h2>
                  <p><%= truncate(creator.bio, length: 150) %></p>
                  <div class="d-flex  profil-rating-users">
                    <%= render "components/rating",star:[3,4,5].sample  %>
                  </div>
                </div>
              </div>
            <% end  %>
          </div>
      <% end  %>
    </div>
  </div>
</div>
