<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 p-0">
    <% if(@creator.email == "lc@lensens.ma") %>
        <%= render "components/carousel", {images:  ["https://picsum.photos/id/531/1200/500","https://picsum.photos/id/304/1200/500","https://picsum.photos/id/513/1200/500","https://picsum.photos/id/674/1200/500"] }%>
      <% else %>
        <%= render "components/carousel", {images:  ["https://picsum.photos/id/1077/1200/500","https://picsum.photos/id/1082/1200/500","https://picsum.photos/id/390/1200/500"] }%>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid mb-5">
  <div class="row info-row">
    <div class="col-sm-8 ">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 ">
            <%= render "components/user_show_avatar", key: @creator.photo.key %>
            <%= @creator.short_name %>
          </div>
          <div class="col-sm-12 p-1 categories">
            <span class="choix badge-portrait  p-2 m-2">Portrait</span>
            <span class="choix badge-corpo p-2 m-2">Corporate</span>
            <span class="choix badge-drone  p-2 m-2">Drone</span>
          </div>
          <div class="col-sm-12">
            <p class="bio">
              <%= @creator.bio %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 d-flex align-items-center">
    <span style="display:none" class="widget-content" data-unavailable="<%= @creator.unavailable_dates.to_json %>" ></span>
      <%= simple_form_for([@creator,@booking], html: {class: "booking-form"}) do |f| %>
        <%= f.input :start_date, as: :string, placeholder: "De :", wrapper_html: { class: "inline_field_wrapper" }, label: "Date de début" %>
        <%= f.input :end_date, as: :string, placeholder: "À :", disabled: true, wrapper_html: { class: "inline_field_wrapper" }, label: "Date de fin" %>
        <%= f.submit "Réservez", class: "btn custom-btn btn-lg btn-block btn-booking" %>
      <% end %>
    </div>
  </div>
</div>
<%= render "pages/home_carousel"%>
