<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 p-0">
      <%= render "components/carousel" %>
    </div>
  </div>
</div>
<div class="container-fluid mb-5">
  <div class="row info-row">
    <div class="col-sm-8 ">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 ">
            <%= render "components/user_show_avatar", key: @creator.photo.key %>
            <%= @creator.short_name %>
          </div>
          <div class="col-sm-12 p-1 categories">
            <span class="choix badge-portrait  p-2 m-2">Portrait</span>
            <span class="choix badge-corpo p-2 m-2">Corporate</span>
            <span class="choix badge-drone  p-2 m-2">Drone</span>
          </div>
          <div class="col-sm-12">
            <p class="bio">
              <%= @creator.bio %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 d-flex align-items-center">
    <span style="display:none" class="widget-content" data-unavailable="<%= @creator.unavailable_dates.to_json %>" ></span>
      <%= simple_form_for([@creator,@booking], html: {class: "booking-form"}) do |f| %>
        <%= f.input :start_date, as: :string, placeholder: "De :", wrapper_html: { class: "inline_field_wrapper" }, label: "Date de début" %>
        <%= f.input :end_date, as: :string, placeholder: "À :", disabled: true, wrapper_html: { class: "inline_field_wrapper" }, label: "Date de fin" %>
        <%= f.submit "Réservez", class: "btn custom-btn btn-lg btn-block btn-booking" %>
      <% end %>
    </div>
  </div>
</div>
<div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-testimonials" data-slide-to="1"></li>
    <li data-target="#carousel-testimonials" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active my-carousel-item ">
      <% crea = @creators.sample  %>
      <%= render "components/avatar" ,key: crea.photo.key %>
      <div class="carousel-caption d-none d-md-block">
        <h5> <%= crea.short_name %></h5>
        <p> <%= crea.bio %> </p>
        <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
      </div>
    </div>
    <div class="carousel-item my-carousel-item  ">
      <% crea = @creators.sample  %>
       <%= render "components/avatar",key: crea.photo.key %>
      <div class="carousel-caption d-none d-md-block">
        <h5> <%= crea.short_name %></h5>
        <p> <%= crea.bio %> </p>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
      </div>
    </div>
    <div class="carousel-item my-carousel-item ">
      <% crea = @creators.sample  %>
      <%= render "components/avatar",key: crea.photo.key %>
      <div class="carousel-caption d-none d-md-block">
        <h5> <%= crea.short_name %></h5>
        <p> <%= crea.bio %> </p>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-target="#carousel-testimonials" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carousel-testimonials" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
</div>
