
<div class="navbar navbar-expand-sm navbar-lewagon" style="z-index:9999">

  <nav>
    <div class="d-flex align-items-center" style="height: 84px;">
    <label for="toggle-1" style="height:39px" class="btn">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <%= link_to root_path, class:"navbar-brand"  do %>

      <div class="logo">
        <%= image_tag "logo.png" %>
      </div>
    <% end %>
    </div>
    <input type="checkbox" id="toggle-1">
    <ul class="menu">
      <a href="#about"><li>À propos de nous</li></a>
      <a href="#contact"><li>contactez-nous</li></a>
      <%= link_to root_path do %>
       <li> Accueil </li>
      <% end %>
    </ul>

  </nav>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, style: "margin-right: 12px" %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Mes réservations", new_user_booking_path(current_user.id), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link login-link" %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
