<!-- flip-card-container -->
  <h2> the top 6 photographe of the month</h2>
  <div class="d-flex flex-nowrap justify-content-center align-items-center my-container" >
    <% @trending_creators.each_with_index do |creator,i| %>
      <div class="flip-card-container" >
        <div class="flip-card">
            <div class="card-front-one">
              <figure>
                 <div class="img-bg">
                  <%= cl_image_tag creator.photo.key, height: 100, width: 200, crop: :fit %>
                </div>
                <figcaption><%= creator.first_name %>  <%= creator.last_name  %></figcaption>
              </figure>

               <ul id="card">
                <li id="card">Detail 1</li>
              </ul>
            </div>

          <div class="card-back-one">
            <figure>
                 <div class="img-bg">
                  <img src="https://wallpaperaccess.com/full/1143033.jpg">
                 </div>
                <figcaption><%= creator.first_name %>  <%= creator.last_name  %></figcaption>
              </figure>
               <button>Book</button>

            <div class="design-container">
              <span class="design design--1"></span>
              <span class="design design--2"></span>
              <span class="design design--3"></span>
              <span class="design design--4"></span>
              <span class="design design--5"></span>
              <span class="design design--6"></span>
              <span class="design design--7"></span>
              <span class="design design--8"></span>
            </div>
          </div>

        </div>
    </div>
    <% end %>
  </div>
